*{
    margin: 0;
    padding: 0;


}
.body{
    display: inline-block;
    
}
 /* OUTLINE */
.outline{
    width:50%;
    height: auto;
    font-family: 'Tilt Warp', cursive;
    background-color: #95BBEA;
    float: left;
}
.name-photo-page{
    background-color: #FFFFFF;
    max-width: 400px;
    height: 150px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    

}
.name-loc-page{
    
    margin-top: 40px;
    text-align: center;
    
    
}
.pphoto{
    max-width: 150px;
    height: 150px;
    float: left;
}
        /*SKILLS PAGE */

.skills-page{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    max-width: 360px;
    height: 300px;
    background-color: #FFFFFF;
    color: #565656;
    text-align: left;
    padding-left: 40px;
    padding-top: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    position: relative;
    margin-top: 20px;
    text-decoration-color: #FFFFFF;
    
}

.skills-page ul li {
    list-style-type: none;

}
.skills-page ul{
   margin-left: -20px;
   margin-top: -10px;
}



.brline{
    border: none;
    border-top: 1.5px solid #d5d9df;
    max-width: 350px;
    position: relative;
    left: -20px;
}



.skills-page-2 {
    position: relative;
    min-width: 300px;
    height: 100px;
    align-items: center;
}


.job{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: auto;
    height: 25%;
    background-color: #d8dde4;
    border: 2px solid #d5d9df;
    border-radius: 5px;
    padding: 5px 10px ;
    margin: 5px;
    position: relative;
    display: inline-block;
    left: -20px;
}

/*social page*/


.social-page{
   position: relative;
   float: right;
   width: 50%;
   height: auto;
   display: block;
   background-color: #95BBEA;
  
}

.like{
    width: 50%;
    height: auto;
    text-align: center;
    color:#565656;
    font-size: 50px;
    width: 200px;
    height: 160px;
    background-color: #FFFFFF;
    border-radius: 15px;
    
}

.view{
    text-align: center;
    color: #565656;
    font-size: 50px;
    width: 200px;
    height: 160px;
    background-color: #FFFFFF;
    border-radius: 15px;  
}

.comment{
    text-align: center;
    color: #565656;
    font-size: 50px;
    width: 200px;
    height: 160px;
    background-color: #FFFFFF;
    border-radius: 15px;
}


.social-page .like p{
    font-size: 20px;
    margin-top: 20px;
}