*{
    margin: 0;
    padding: 0;


}
.body{
    font-family: 'Montserrat', sans-serif;
}

 /* OUTLINE */
.container{
    display: inline-block;
    width:1000px;
    height: 600px;
    background-color: #95BBEA;
    margin: auto;
    
}
.name-photo-page{
    background-color: #FFFFFF;
    max-width: 400px;
    height: 150px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    
    

}
.name-loc-page{
    position: relative;
    margin-top: 40px;
    text-align: center;
    
    
}
.pphoto{
    max-width: 150px;
    height: 150px;
    float: left;
}
        /*SKILLS PAGE */

.skills-page{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    max-width: 360px;
    height: 300px;
    background-color: #FFFFFF;
    color: #565656;
    text-align: left;
    padding-left: 40px;
    padding-top: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    position: relative;
    margin-top: 20px;
    text-decoration-color: #FFFFFF;
    
}

.skills-page ul li {
    list-style-type: none;

}
.skills-page ul{
   margin-left: -20px;
   margin-top: -10px;
}



.brline{
    border: none;
    border-top: 1.5px solid #d5d9df;
    max-width: 350px;
    position: relative;
    left: -20px;
}



.skills-page-2 {
    position: relative;
    min-width: 300px;
    height: 100px;
    align-items: center;
}


.job{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: auto;
    height: 25%;
    background-color: #d8dde4;
    border: 2px solid #d5d9df;
    border-radius: 5px;
    padding: 5px 10px ;
    margin: 5px;
    position: relative;
    display: inline-block;
    left: -20px;
}

/*social page*/


.social-page{
    
    width: 200px;
    height: 380px;
    display: block;
    left: 450px;
    position: relative;
    top: -505px;
    
    
  
}

.like{
    text-align: center;
    color:#565656;
    font-size: 30px;
    width: 200px;
    height: 33.333%;
    background-color: #FFFFFF;
    border-radius: 15px 15px 0 0;
    padding-top: 40px;
    
}

.view{
    text-align: center;
    color: #565656;
    font-size: 20px;
    width: 200px;
    height: 33.333%;
    background-color: #FFFFFF;
    padding-top: 40px;
    
}


.comment{
    text-align: center;
    color: #565656;
    font-size: 20px;
    width: 200px;
    height: 33.333%;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
    padding-top: 40px;
}
.brline2{
    border: none;
    border-top: 2px solid #d5d9df;
    width: 200px;
    position: relative;
   
    
}


.social-page .like p{
    font-size: 20px;
    margin-top: 20px;
}